/* index.css */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Pour centrer la carte verticalement */
}

.game-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 450px;
    border: 4px solid #E9C46A; /* Bordure Jaune Solaire */
    border-radius: 30px;
    overflow: hidden;
    background-color: #1A3B70; /* Bleu Roi */
    box-shadow: 0 20px 60px rgba(0,0,0,0.5);
    transition: transform 0.3s ease;
}

.game-card:hover {
    transform: scale(1.02);
}

/* Animation Sunburst en arrière-plan de la carte */
.bg-animated {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: repeating-conic-gradient(
        from 0deg,
        rgba(233, 196, 106, 0.1) 0deg 20deg,
        rgba(244, 162, 97, 0.05) 20deg 40deg
    );
    animation: rotate 15s linear infinite;
    z-index: 1;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.hero-logo {
    position: relative;
    width: 250px;
    z-index: 2;
    filter: drop-shadow(0 5px 15px rgba(0,0,0,0.3));
    margin-bottom: 20px;
}

.action-zone {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-btn {
    background-color: #E9C46A; /* Jaune Solaire */
    color: #1A3B70;
    border: none;
    padding: 15px 40px;
    font-size: 26px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 6px 0 #bc9c4f;
    transition: all 0.2s ease;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.play-btn:hover {
    background-color: #F4A261; /* Change en Orange Pastel au survol */
    transform: translateY(-2px);
    box-shadow: 0 8px 0 #d1874c;
}

.play-btn:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 #d1874c;
}

.slogan {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    font-style: italic;
}


#bg-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Derrière le logo et le bouton */
    pointer-events: none; /* Pour pouvoir cliquer sur le bouton à travers le canvas */
}